Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=weeloaderData
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=weeloaderData
Author: chpwn <support@chpwn.com>
Maintainer: BigBoss <bigboss@thebigboss.org>
Name: WeeLoader
Package: com.chpwn.weeloader
Pre-Depends: firmware (>= 5.0)
Depends: mobilesubstrate
Section: Development
Version: 1.0
Architecture: iphoneos-arm
Description: weeeeeeeeeeeeeeeeeeeeeeeee!
Sponsor: thebigboss.org <http://thebigboss.org>
dev: chpwn
Tag: role::developer, purpose::extension
