Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=weeloaderDp
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=weeloaderDp
Author: joedj <weeloader@joedj.net>
Maintainer: BigBoss <bigboss@thebigboss.org>
Name: WeeLoader
Package: com.chpwn.weeloader
Pre-Depends: firmware (>= 5.0)
Depends: mobilesubstrate
Section: Development
Version: 1.4
Architecture: iphoneos-arm
Description: Weeeeeeeeeee! Load Wee apps safely.
Sponsor: thebigboss.org <http://thebigboss.org>
dev: joejordan
Tag: role::developer, purpose::extension
